body {
  font-family: Tahoma, sans-serif;
  direction: rtl;
  text-align: center;
  margin-top: 80px;
  background-color: #f4f4f4;
  padding: 0;
}

h1 {
  color: #333;
  font-size: 2rem;
}

#price {
  margin-top: 20px;
  font-size: 2.5rem;
  color: green;
}

/* فوتر */
footer {
  margin-top: 60px;
  padding: 20px;
  background-color: #222;
  color: #fff;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}